<div data-role="page" id="DetailsPage">
    {{>navbar}}
    <div role="main" class="ui-content">
    <h3 class="ui-bar ui-bar-a ui-corner-all">{{book.TITLE}} by {{book.AUTHOR}}</h3>
    <div class="thumbnail-detail">
        <img src="{{book.THUMBNAIL}}" />
        <a href="/ebooks/{{book.FILENAME}}" target="_blank" class="ui-btn ui-shadow">Download</a>
    </div>
    <div class="ui-body ui-body-a ui-corner-all">
        <p>{{book.DESCRIPTION}}</p>
        <p>Language: <img src="../../images/blank.gif" class="flag flag-{{book.LANGUAGE}}" alt="{{book.LANGUAGE}}" title="{{book.LANGUAGE}}" /><br />
            Year: {{book.YEAR}}<br />
            Pages: {{book.PAGES}}<br />
            ISBN: {{book.ISBN}}</p>
        <p>
        <a href="https://www.goodreads.com/book/isbn/{{book.ISBN}}" title="Goodreads">
            <img src="../../images/read_reviews_goodreads.png" border="0"></a>
        <a href="https://books.google.com/books?isbn={{book.ISBN}}" title="Google Books">
        <img src="../../images/google_books.png" border="0"></a>
        </p>
    </div>
    <h3 class="ui-bar ui-bar-a ui-corner-all">Goodreads reviews</h3>
    <div class="ui-body ui-body-a ui-corner-all">
        <div id="goodreads-widget">
            <iframe id="the_iframe" src="https://www.goodreads.com/api/reviews_widget_iframe?did=5049&format=html&header_text=Goodreads+reviews+for+&isbn={{book.ISBN}}&links=660&min_rating=&num_reviews=&review_back=ffffff&stars=000000&stylesheet=&text=444" width="95%" height="400" frameborder="0"></iframe>
        </div>
    </div>
    </div>
</div>
