<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{{host}}/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{host}}/css/styles.css">
    <link rel="stylesheet" type="text/css" href="{{host}}/css/flags.min.css">

    <link rel="stylesheet" href="{{host}}/css/jquery.mobile-1.4.5.min.css" />
    <script src="{{host}}/src/jquery.min.js"></script>
    <script src="{{host}}/src/jquery.mobile-1.4.5.min.js"></script>
    <script type="text/javascript" src="{{host}}/src/color-thief.min.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
